<!DOCTYPE html>
<html>
<head>
    <title>
        Nite Mode
    </title>
    {% load static %}

    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body style = "background-color: black">
    
    <div class= "logo">
        <i style = "color: whitesmoke" class="fas fa-moon fa-2x" class = "icon"></i>
        <h1 style = "background-color:black; color:white" class = "text">Nite Mode</h1>
    </div>
    <video autoplay controls height= "500px" width = "500px">
        <source src="./media/This.mp4" type="video/mp4"></source>
        Your browser is a sucks
    </video>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<div style = "color: white">
    <i style = "font-size: 300px;" class="fas fa-user-astronaut"></i>
</div>
<br>
<br>
<!-- This is where the form starts-->
<form method="post" enctype="multipart/form-data" action="find_file_type">
{% csrf_token %}
<div>
    <label class = "custom-file-upload" >
        Choose file
        <input name = "filePath" type="file" accept = ".pdf , application/vnd.ms-powerpoint , application/vnd.openxmlformats-officedocument.presentationml.presentation" id="file">
    </label>
    <input type="submit" value="Make it dark" id= "submit">
</div>

</form>

<!--form ends here-->
<br>
</body>
</html>
